@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.container {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: flex-start;
}

.container .drag-drop-area{
width: 100%;
  flex: 1; 
  margin: 0; 
  border: 2px dashed #aaa;
  border-radius: 5px;
  /* padding: 20px; */
  cursor: pointer;
}
.container .text-area {
  flex: 1; /* Grow flex items equally */
  margin: 0; /* Add margin between the areas */
  /* padding: 20px; */
  cursor: pointer;
}

.container .text-area textarea{
    border-radius: 5px;
    border: 2px dashed #aaa;
  height: 200px; 
  width: 100%;
  resize: vertical; 
  padding: 10px; 
  font-size: 16px; 
  color: white;
}
.container .text-area button{
    color: white;
    font-size: larger;
    font-family: "Space Grotesk", sans-serif;
    background-color: #047c44;
    display: block;
    text-align: center;
}
img {
  width: 100px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.highlight {
  background-color: #f0f0f0;
}

.file-input {
  display: none;
}

.drag-drop-text {
  font-size: large;
  color: white;
}

.drag-drop-text .span1 {
  font-size: xx-large;
  font-family: "Space Grotesk", sans-serif;
  color: white;
}

.drag-drop-text .span2 {
  font-family: "Space Grotesk", sans-serif;
  color: #AEFC06;
  font-weight: 1000;
}

.drag-drop-text p {
  margin: 5px 0;
}
