<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI Generated text and Image Detection</title>
<style>

</style>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<div class="container">
    <div class="input-side">

        <button onclick="window.location.href='/text'"> text </button>

    </div>
    <div class="output-side">
        <button onclick="window.location.href='/image'"> image </button>
    </div>
</div>

</body>
</html>
