<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Text Detection</title>
<style>

</style>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<script src="{% static 'js/text.js' %}"></script>

<div class="container">
    <div class="input-side">
        <h2>Input</h2>


        <textarea id="inputText" rows="10" style="width: 100%;" placeholder="Type something..."></textarea>
        <input type="file" name="fileToUpload" id="fileToUpload" accept=".pdf,.txt,.doc,.docx">


        <button onclick="uploadFileAndText()"> Predict </button>
    </div>
    <div class="output-side">
        <h2>Output</h2>
        <div id="outputText"></div>
    </div>
</div>

</body>
</html>
