<!DOCTYPE html>
<html>
<head>
    <title>AI GENERATED TEXT DETECTOR </title>
    <style>
        textarea {
            resize: vertical; /* Allow vertical resizing */
            min-height: 50px; /* Set a minimum height */
            width: 300px; /* Set a width */
        }
    </style>
</head>
<body>
    <h1>AI GENERATED TEXT DETECTOR</h1>
    <form action="/predict" method="post">
        <textarea name="input_text" placeholder="Enter Text"></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
